{% load static %}
<div class='container'>
  <div class='footer-holder'>
    <div class='middle-footer'>
      <div class='footer-title'>
        Our contacts
      </div>
      <div class='footer-desc'>
        ******** <span>local call is free</span><br>
        rainyday@noreply<br>
      </div>
    </div>
    <div class='middle-footer'>
      <div class='footer-title'>
        Rainy Day site's developer
      </div>
      <div class='footer-desc'><br>
        Semenova Liza<br>
        <a href='3'>GitHub</a>
      </div>
    </div>
    <div class='middle-footer'>
      <div class='footer-title'>
        Product categories
      </div>
      <div class='footer-desc'>
        <a href='1'>Categories</a><br>
        <a href='1'>Favorites</a><br>
        <a href='1'>Money Account</a><br>
      </div>
    </div>
  </div>
</div>