{% load static %}
<div class='container'>
  <div class='header-line'>
    <div class='header-logo'>
      <a href='*'>
        <img src='static/img/white-logo.png' width="130" height="130">
      </a>
    </div>
    <div class="wrap">
      <div class="search">
        <input type="text" class="searchTerm" placeholder="Type">                
        <button type="submit" class="searchButton">
          <a href='*'>
            <img src='static/img/search-white-16.png'>
          </a>
        </button>
      </div>
    </div>
    <div class='header-items'>
      <div class='header-item'>
        <a href='f'>
          <img src='static/img/delivery.png'> <span>Delivery</span>
        </a>
      </div>
      <div class='header-item'>
        <a href='f'>
          <img src='static/img/profile.png'> <span>Profile</span>
        </a>
      </div>
      <div class='header-item'>
        <a href='f'>
          <img src='static/img/cart.png'> <span>Cart</span>
        </a>
      </div>
    </div>
  </div>
</div>