<!DOCTYPE html> 
<html lang="ru">
{% load static %}
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Tinos&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class='header'>
      <div class='header-main'>
        <div class='container'>
          <div class='header-line'>
            <div class='nav'>
              CAT
            </div>
            <div class='header-logo'>
              <a href='*'>
                <img src='static/img/white-logo.png' width="130" height="130">
              </a>
            </div>
            <div class="wrap">
              <div class="search">
                <input type="text" class="searchTerm" placeholder="Type">                <button type="submit" class="searchButton">
                  <a href='*'>
                    <img src='static/img/search-white-16.png'>
                  </a>
                </button>
              </div>
            </div>
            <div class='profile'>
              <div class='photo-icon'>
                <a href='*'>
                  <img src='static/img/profile-white-32.png'>
                </a>
              </div>
              <div class='profile-text'>Profile</div>
            </div>
            <div class='delivery'>
              <div class='cart-icon'>
                <a href='*'>
                  <img src='static/img/delivery-icon.png'>
                </a>
              </div>
              <div class='cart-text'>Delivery</div>
            </div>
            <div class='cart'>
              <div class='cart-icon'>
                <a href='*'>
                  <img src='static/img/cart2-32.png'>
                </a>
              </div>
              <div class='cart-text'>Cart</div>
            </div>
          </div>
        </div>
        <section class='header-down'>
        <div class='header-text'>
            Welcome to the
            <div class='header-down-text'>
              <span>R</span>ainy<span>D</span>ay
            </div>
            <div class='header-sub'>
              ZERO WASTE SHOP
            </div>          
          </div>
        </section>
      </div>
    </div>
    <div class='cards'>
      <div class='container'>
        <div class='cards-holder'>
          <div class='card'>
            <div class='card-image'>
              <a href='*'>
                <img src='static/img/kitchen-items-warm.png' width="250" height="250">
              </a>
            </div>
            <div class='card-text'>
              <span>Kitchen</span> items
            </div>
            <div class='card-description'>
              Our cooking utensils made with 100% bamboo or metal. 
              These not only last longer than utensils made with plastic,
              but they are a more sustainable choice, too.
            </div>
          </div>
          <div class='card'>
            <div class='card-image'>
              <a href='*'>
                <img src='static/img/bath-items-warm.jpg' width="250" height="250">
              </a>
            </div>
            <div class='card-text'>
              <span>Bath</span> items
            </div>
            <div class='card-description'>
              Most of our bath products are sold in small jars,
              which will not only fit perfectly into your interior, but which can be reused.
              Our products are hypoallergenic and with a high content of natural ingredients.
            </div>
          </div>
          <div class='card'>
            <div class='card-image'>
              <a href='*'>
                <img src='static/img/clothes-warm.jpg' width="250" height="250">
              </a>
            </div>
            <div class='card-text'>
              <span>Сlothes</span>
            </div>
            <div class='card-description'>
              Clothing that will last longer due to the
              high quality of the natural fabrics from which it is made.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      ffjfjjf
    </div>



    <div class='cards'>
      <div class='container'>
        <div class='cards-holder'>
          <div class='card'>
            <div class='card-image'>
              <a href='*'>
                <img src='static/img/kitchen-items-warm.png' width="250" height="250">
              </a>
            </div>
            <div class='card-text'>
              <span>Kitchen</span> items
            </div>
            <div class='card-description'>
              Our cooking utensils made with 100% bamboo or metal. 
              These not only last longer than utensils made with plastic,
              but they are a more sustainable choice, too.
            </div>
          </div>
          <div class='card'>
            <div class='card-image'>
              <a href='*'>
                <img src='static/img/bath-items-warm.jpg' width="250" height="250">
              </a>
            </div>
            <div class='card-text'>
              <span>Bath</span> items
            </div>
            <div class='card-description'>
              Most of our bath products are sold in small jars,
              which will not only fit perfectly into your interior, but which can be reused.
              Our products are hypoallergenic and with a high content of natural ingredients.
            </div>
          </div>
          <div class='card'>
            <div class='card-image'>
              <a href='*'>
                <img src='static/img/clothes-warm.jpg' width="250" height="250">
              </a>
            </div>
            <div class='card-text'>
              <span>Сlothes</span>
            </div>
            <div class='card-description'>
              Clothing that will last longer due to the
              high quality of the natural fabrics from which it is made.
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class='cards'>
      <div class='container'>
        <div class='cards-holder'>
          <div class='card'>
            <div class='card-image'>
              <a href='*'>
                <img src='static/img/kitchen-items-warm.png' width="250" height="250">
              </a>
            </div>
            <div class='card-text'>
              <span>Kitchen</span> items
            </div>
            <div class='card-description'>
              Our cooking utensils made with 100% bamboo or metal. 
              These not only last longer than utensils made with plastic,
              but they are a more sustainable choice, too.
            </div>
          </div>
          <div class='card'>
            <div class='card-image'>
              <a href='*'>
                <img src='static/img/bath-items-warm.jpg' width="250" height="250">
              </a>
            </div>
            <div class='card-text'>
              <span>Bath</span> items
            </div>
            <div class='card-description'>
              Most of our bath products are sold in small jars,
              which will not only fit perfectly into your interior, but which can be reused.
              Our products are hypoallergenic and with a high content of natural ingredients.
            </div>
          </div>
          <div class='card'>
            <div class='card-image'>
              <a href='*'>
                <img src='static/img/clothes-warm.jpg' width="250" height="250">
              </a>
            </div>
            <div class='card-text'>
              <span>Сlothes</span>
            </div>
            <div class='card-description'>
              Clothing that will last longer due to the
              high quality of the natural fabrics from which it is made.
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html> 