body {
    margin: 0;
}
header {
    background-color: #b3ba71; 
    height: 9vh;
    width: 100%;
    position: fixed;
    z-index: 3;
}
.header-down {
    background-image: url('../img/shop-back.jpg');
    background-size: cover;
    height: 130vh;
}
.container {
    margin: 0px 166px;
}
.header-line {
    padding-top: 38px;
    display: flex;
    align-items: center;
    position: relative;
}
.header-logo {
    padding-top: 10px;
    position: absolute;
    right: 88%;
}
.nav {
    position: absolute;
    right: 102%;
    color: #eeeeee;
}
.search {
    display: flex;
}
.searchTerm {
    width: 100%;
    border: 3px solid #729668;
    border-right: none;
    height: 18px;
    padding: 10px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 16px;
}
.searchTerm:focus{
    size: 80;
}
.searchButton {
    width: 40px;
    height: 44px;
    border: 1px solid #729668;
    background: #729668;
    text-align: center;
    color: #eeeeee;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.wrap{
    width: 48%;
    position: absolute;
    left: 25%;
}
.header-items {
    position: absolute;
    left: 86%;
    display: flex;
    margin-right: 60px;
}
.header-item {
    margin-right: 40px;
    text-align: center;
}
.header-item span {
    font-size: 15px;
    color: #eeeeee;
    display: block;
}
.header-item a {
    text-decoration: none;
}
.header-down-text span {
    color:#729668;
}
.header-text {
    text-align: center;
    position: absolute;
    left: 13%;
    margin-top: 360px;
    font-family: 'Tinos', serif;
    font-size: 63px;
    font-weight: 400px;
    color: rgb(45, 37, 37);
}
.header-sub {
    margin-top: 8px;
    color: #000000;
    font-size: 19px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    
}
.header-sub:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 35px;
    background-color: #729668;
    top: 110px;
    left: 26px;
}
.header-sub:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 35px;
    background-color: #729668;
    top: 112px;
    left: 332px;
}
.cards-holder {
    display: flex;
    justify-content: center;
}
.card {
    width: 349px;
    background-color: #fff;
    margin-top: -140px;
    margin-right: 31px;
    box-shadow: 10px 10px 40px 20px #0000001A;
    padding: 10px 10px 35px 10px;
    transition: 1s;
}
.card:hover {
    transform: scale(1.05);
}
.card-image {
    margin-top: 30px;
    display: flex;
    justify-content: center;

}
.card-text {
    font-family: 'Tinos', serif;
    font-size: 24px;
    font-weight: 400px;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(45, 37, 37);
}
.card-description {
    font-family: 'Tinos', serif;
    font-size: 17px;
    font-weight: 400px;
    text-align: center;
    color: #656363;
    padding: 0px 25px;
}
.card-text span {
    color:#729668;
}
.card-description span {
    color:#729668;
}


.about {
    margin-top: 166px;
    padding-bottom: 200px;
}
.about-text {
    font-family: 'Tinos', serif;
    font-size: 54px;
    font-weight: 400px;
    color: rgb(45, 37, 37);
    width: 444px;
    text-align: center;
}
.about-text span{
    color: #729668;
}
.about-desc {
    font-size: 16px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    width: 444px;
    color: #656363;
    text-align: center;
    margin-top: 21px;
}
.about-items {
    display: flex;
    width: 444px;
    justify-content: center;
    margin-left: 34px;
    margin-top: 79px;

}
.about-icons {
    margin-right: 60px;
    font-family: 'Tinos', serif;
    font-size: 17px;
    font-weight: 400px;
    text-align: center;
    color: #729668;
}
.about-icons span {
    display: block;
    text-decoration: none;
}
.about-holder {
    display: flex;
    justify-content: space-between;
}
.about-images {
    position: relative;
    margin-top: 45px;
    right: 50px;
}
.images-1 {
    position: absolute;
    top: -92px;
    right: 38px;
}
.images-2 {
    position: absolute;
    top: -70px;
    right: 180px;
}
.images-3 {
    position: absolute;
    top: 100px;
    right: -40px;
}
.info {
    background-image: url('../img/info.jpg');
    padding: 80px 0;
    background-repeat: no-repeat;
    height: 50vh;
    background-size: cover;
}
.info-title {
    font-family: 'Tinos', serif;
    font-size: 52px;
    font-weight: 400px;
    color: rgb(45, 37, 37);
    margin-bottom: 20px;
}
.info-title span {
    color: #729668;
}
.info-btn {
    background-color: #729668;
    color: #eeeeee;
    text-decoration: none;
    border-radius: 25px 25px 25px 25px;
    padding: 15px 35px;
    border: 3px solid #b3ba71;
    font-weight: 500px;
    font-size: 20px;
    transition: background-color 0.3s linear;
}
.info-btn:hover {
    background-color: #b3ba71;
    border: 3px solid #729668;
    
}
.info-holder {
    text-align: center;
}
.info-description {
    font-size: 17px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    color: #221f1f;
    width: 800px;
    margin-left: 150px;
    margin-top: 54px;
}
.info-button {
    margin-top: 120px;
}